doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug App
        script(src='/tailwind-3.1.4.mjs')
    body(class='bg-slate-900 text-slate-300 font-light p-6') 
        nav
            li 
                a(href="/") Home
            li 
                a(href="/contact") Contact
            li 
                a(href="/products") Products